body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    width: 90%;
    max-width: 1200px;
    padding: 20px;
    box-sizing: border-box;
}

.timeline-controls {
    display: none; /* Initially hidden */
    opacity: 0;
    transition: opacity 0.3s ease; /* Smooth transition for visibility */
}

.zoom-container:hover .timeline-controls {
    display: flex; /* Show on hover */
    opacity: 1;
}

.timeline {
    flex-grow: 1;
    position: relative;
    width: 100%;
}

#slider {
    width: 100%;
    appearance: none;
    background: #f7e2e2;
    height: 8px;
    border-radius: 5px;
    outline: none;
    opacity: 0.8;
    transition: opacity 0.2s;
}

#slider::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background: rgba(193, 199, 249, 0.785);
    border-radius: 50%;
    cursor: pointer;
}

#slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}

.years {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: -25px;
    width: 100%;
}

.years span {
    font-size: 0.8em;
    color: #ccc;
}

.gallery {
    margin: 20px 0;
    width: 100%;
    position: relative;
}

.gallery img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 5px solid black;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.zoom-container {
    position: relative;
    display: inline-block;
    transform: scale(1.5); /* Default scale to 3x original size */
    transform-origin: center; /* Ensure scaling occurs from the center */
    transition: transform 0.3s ease;
}

.zoom-buttons {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    visibility: hidden; /* 隱藏按鈕 */
}

.zoom-buttons button {
    background-color: white;
    border: none;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    border-radius: 50px;
    font-size: 10px;
    transition: background-color 0.3s ease;
}

.zoom-buttons button:hover {
    background-color: #f8f8f8;
}

.zoom-container:hover .zoom-buttons {
    visibility: visible; /* 滑鼠懸停時顯示按鈕 */
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 10px;
    }
}
